/*Question 1*/
/*#button {
height: 8em;
width: 16em;
margin-top: 10em;
margin-left: 25em;
font-size: 20px;
}*/

/*Question 2*/

/*#red {
	background-color: red;
}

#blue {
	background-color: blue;
}

#green {
	background-color: green;
}*/

/*Question 4*/

#button {
	height: 8em;
	width: 16em;
	margin-top: 10em;
	margin-left: 25em;
	font-size: 20px;
}


