<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Homework</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body ng-app="app">
        
       
<!-- Question 1 - Responsive Button -->
        <!-- <div>
            <button type="button" id="button" ng-click="startLoading()" ng-controller="LoadingButtonCtrl" ng-bind="buttonText" ng-disabled="buttonDisabled"></button>
        </div> -->

<!-- Question 2 - Hide/Show Text -->


<!--         <div id="buttons" ng-controller="LoadingButtonCtrl">
            <button id='red' ng-click="showContentRed()">Red</button>
            <button id='green'ng-click="showContentGreen()">Green</button>
            <button id='blue'ng-click="showContentBlue()">Blue</button>
            
            <p ng-show="red">Red is the color of blood, fire and rubies. It is the color at the end of the visible spectrum next to orange, and at the opposite end from violet. The wavelength of red light is approximately 620–740 nm on the electromagnetic spectrum.</p>
            
            <p ng-show="green">Green is a color on the spectrum of visible light, located between blue and yellow. It is evoked by light with a predominant wavelength of roughly 495–570 nm. In the subtractive color system, used in painting and color printing, it is created by a combination of yellow and blue, or yellow and cyan; in the RGB color model, used on television and computer screens, it is one of the additive primary colors, along with red and blue, which are mixed in different combinations to create all other colors.</p>
       
            <p ng-show="blue">Blue is the colour between violet and green on the optical spectrum of visible light. Human eyes perceive blue when observing light with a wavelength between 450 and 495 nanometres. Blues with a higher frequency and thus a shorter wavelength gradually look more violet, while those with a lower frequency and a longer wavelength gradually appear more green. Pure blue, in the middle, has a wavelength of 470 nanometres. In painting and traditional colour theory, blue is one of the three primary colours of pigments, along with red and yellow, which can be mixed to form a wide gamut of colours.</p>

        </div> -->

<!-- Question # 4 -->

<!--         <div>
            <button type="button" id="button" ng-click="addLike()" ng-controller="LoadingButtonCtrl">{{ numLikes }} Likes</button>
        </div> -->

<!-- Question # 5 -->

        <div ng-controller="LoadingButtonCtrl">
            <form ng-submit="submit(user)">
                <input type="text" ng-model="user.userName" placeholder="User Name" name="UserName">
                <input type="text" ng-model="user.password" placeholder="Password" name="Password">
                <input type="email" ng-model="user.email" placeholder="Email" name="firstName">
                <button type="submit">Submit</button>
            </form>
        </div>


        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="scripts/app.js"></script>
        <script type="text/javascript" src="scripts/controller.js"></script>

<!--         <div ng-controller="LoadingButtonCtrl"> -->
            <!-- <input type="text" ng-model="name">
            <div ng-bind="name"></div>
            <button ng-click="showContent()">Toggle Content</button>
            <p ng-hide="isContentVisible">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

<!--             <form ng-submit="submit(user)">
                <input type="email" ng-model="user.email" placeholder="Email" name="firstName">
                <input type="text" ng-model="user.firstName" placeholder="First Name" name="firstName">
                <input type="text" ng-model="user.lastName" placeholder="Last Name" name="lastName">
                <button type="submit">Submit</button>
            </form> -->
<!--         </div> -->
    </body>
</html>